../.idea/
__pycache__/

env/
venv/
ENV/
.venv/
env.bak/
venv.bak/
.venv
.env/
.env
backend/.env

# Ignore databases and instance folder
../instance/
*.db

cron_log.txt
instance/
!backend/instance/



